<a href='python-memcached-1.54-py2.py3-none-any.whl'>python-memcached-1.54-py2.py3-none-any.whl</a><br />
<a href='python-memcached-1.57-py2.py3-none-any.whl'>python-memcached-1.57-py2.py3-none-any.whl</a><br />
<a href='python-memcached-1.57.tar.gz'>python-memcached-1.57.tar.gz</a><br />
