<a href='python-dateutil-2.5.2.tar.gz'>python-dateutil-2.5.2.tar.gz</a><br />
<a href='python-dateutil-1.5.tar.gz'>python-dateutil-1.5.tar.gz</a><br />
<a href='python-dateutil-2.4.2.tar.gz'>python-dateutil-2.4.2.tar.gz</a><br />
