<a href='prettytable-0.7.2.tar.bz2'>prettytable-0.7.2.tar.bz2</a><br />
<a href='prettytable-0.7.2-py2-none-any.whl'>prettytable-0.7.2-py2-none-any.whl</a><br />
<a href='prettytable-0.7.tar.gz'>prettytable-0.7.tar.gz</a><br />
